body 
{
	margin: 0;
	font: 0.92em/1.4 Arial, sans-serif;
	min-width: 780px;
	background: #fff;
	color: #000;
}

/* Link */
a 
{ 
    color: #1D67A4; 
}

a:hover 
{ 
    color: #BD2026; 
}

a img 
{ 
    border: none; 
}

/* =================== h1 - h6 ============== */
/* Heading */
h1, 
h2 
{
	font-size: 1.8em;
	font-weight: normal;
}

h1 
{
    margin: 0 0 0.3em;
    font: 2.4em Georgia, Times, serif;
    color: #666;
}

h1.title
{
    margin-top: 15px;
}

h3 
{
    font-size: 1.1em;
    margin: 1.2em 0 -10px;
    color: #666;
}

/* ================= Header ==================== */

header 
{
	background: #4b4a45;
	display: block;
	position: relative;
	z-index: 2;
}

.logo 
{
	float: left;
	margin: 0 16px 0 10px;
	width: 184px; 
	height: 66px;
}

#topmenu, .tile  ul 
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#topmenu li 
{
	height: 66px;
	display: inline-block;
	text-align: center;
	min-width: 80px;
}

#topmenu a 
{
	color: #000;
	text-decoration: none;
	display: block;
	height: 100%;
}

#topmenu .icon 
{
	display: inline-block;
	margin-top: 7px;
	width: 32px;
	height: 32px;
	background-image: url(../images/icon-menu.png);
}

.icon-css 
{
	background-position: -32px 0;
} 

.icon-site 
{
	background-position: -64px 0;
}

.icon-main 
{
	background-position: -96px 0;
}

.tile 
{
	display: none;
}

.tile.show 
{
	display: block;
}

.tile li 
{
	display: inline-block;
	padding: 5px 0;
	margin-left: 5px;
}

.tile li a 
{
	display: inline-block;
	color: #1D71B8;
	text-decoration: none;
	padding: 2px 7px;
}

.tile li a:hover 
{
	text-decoration: underline;
}

.tile a.active 
{
	background: #B25538;
	background: #767769;
	color: #fff;
	border-radius: 5px;
}

.tile a.active:hover 
{
	text-decoration: none;
} 

#topmenu .show, .tile 
{
	background: #EEDFAC;
}

#topmenu li 
{ 
    background: #f3eddf; 
}

#search-box 
{
	position: absolute;
	right: 30px;
	top: 20px;
	background: #fff;
	border: none;
}

#search_field
{
	-webkit-appearance: none;
	outline: none;
	border: none;
	width: 200px;
	padding: 2px 2px;
}

.find 
{
	vertical-align: -3px;
	padding-right: 2px;
    opacity: 0.5; 
}

/* ======================== левое меню =========================== */
.layout 
{
	overflow: hidden;
	padding-bottom: 0;
	background: url(../images/bg.png) repeat-y;
}

aside 
{
	background: #4b4a45;
	width: 210px;
	float: left;
}

aside a 
{	
	color: #EEDFAC; 
	text-decoration: none; 
	display: block;
	line-height: 1.2;
	margin: 3px 0;
}

aside a:visited 
{ 
    color: #ccc; 
}

aside a:hover 
{ 
    color: #fff; 
}

aside a.active 
{
	color: #fff;
	padding: 2px 0;
}

aside .block 
{
	margin: 10px 0 15px;
}

aside .block_content 
{
	padding: 0 5px;
	outline: none;
}

#filter 
{
	background: #fff;
	width: 198px;
	border: 1px solid #666;
}

#left_search_field 
{
    -webkit-appearance: none;
	outline: none;
	border: none;
	padding: 2px 2px;
	background: #fff;
	width: 173px;
	font-size: 14px;
}

aside .menu
{
	padding: 0 0 0.25em 20px;
	margin: 0;
	font-size: 14px;
}

#menu-menu-css .block_content,
#menu-menu-html .block_content 
{
	height: 349px;
	width: 200px;
	overflow: auto;
}

#menu-menu-html .block_content 
{ 
    height: 348px; 
}

li.collapsed 
{
	list-style: none;
	background: url(../images/bullet2.png) 0 6px no-repeat;
	padding: 0 5px 0 15px;
	margin-left: -10px;
}

li.leaf
{
	list-style: none;
	background: url(../images/bullet.png) 0 6px no-repeat;
	margin-left: -10px;
	padding: 0 0 0 15px;
}

aside .block_title 
{
	background: #DAD7C5;
	color: rgba(75,74,69,0.8);
	text-shadow: 1px 2px 3px #DAD7C5, 0 0 0 #000, 1px 2px 3px #DAD7C5;
	font-size: 15px;
	font-weight: bold;
	margin: 0 -6px 10px 0;
	padding: 5px 6px 4px 5px;
	position: relative;
}

aside .block_title:after 
{
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	right: 0;
	bottom: -6px;
	border-width: 3px;
	border: solid transparent;
	border-top-color: #959A8F;
	border-left-color: #959A8F;
}

/* =================== Content ==================== */
#content 
{
	margin-left: 220px;
	padding: 0 20px 20px;
}

#content.three-col 
{
	margin-right: 260px;
}

#content p 
{ 
    margin: 1em 0 1em 30px; 
}

#like 
{
	margin: -10px 0 15px;
	overflow: hidden;
}

.num_comments 
{
	float: right;
	display: inline-block;
	background: url(../images/comments.png) no-repeat 0 4px;
	min-height: 20px;
	padding-left: 24px;
	font-size: 13px;
}

.field-name-body 
{
	margin-top: -10px;
}

/* Table */
th 
{
	background: #bfbfbf;
	font-size: 0.9em;
}

tbody 
{
    border-top: none;
}

table.data 
{
	border-collapse: collapse;
	margin: 0.3em auto 0.5em;
	width: 90%;
}

.data td, 
.data th 
{
 	border: 1px solid #333;
 	padding: 4px;
}

/* Browser support */
td.l 
{
	text-align: left;
}

.br td, 
.sp td 
{
	border-left: 3px double #333;
}

td.rdline 
{
	border-right: 3px double #333;
}

.t.html5 
{
	border: 1px solid #8ab643;
	background: #c9e39c;
}

.t 
{
	font-size: 9px;
	margin-left: 10px;
	padding: 0 2px;
}

.br td:first-child, 
.sp td:first-child, 
.sp .sline 
{ 
    border-left: 1px solid #333; 
}

td.yes 
{ 
    background: #cee2d3 url(../images/icon_yes.png) no-repeat 50% 50%; height: 18px; 
}

td.no 
{ 
    background: #f2c8c8 url(../images/icon_no.png) no-repeat 50% 50%; height: 18px; 
}

td.bug 
{ 
    background: #e0c9e0 url(../images/icon_bug.png) no-repeat 50% 50%; height: 18px; 
}

td.part 
{ 
    background: #f4f1b7 url(../images/icon_part.png) no-repeat 50% 50%; height: 18px; 
}

.sp td.yes,
.yes 
{ 
    background: #cee2d3; 
}

.sp td.no, 
.no 
{ 
    background: #f2c8c8; 
}

.sp td.bug, 
.bug 
{ 
    background: #e0c9e0; 
}

.sp td.part, 
.part 
{ 
    background: #f4f1b7; 
}

.sp td.warn, .warn 
{ 
    background: #f9e497; 
}

.sp td.yes span 
{ 
    background: url(../images/icon_yes.png) no-repeat 0 50%; 
}

.sp td.no span 
{ 
    background: url(../images/icon_no.png) no-repeat 0 50%; 
}

.sp td.bug span
{ 
    background: url(../images/icon_bug.png) no-repeat 0 50%; 
}

.sp td.part span 
{ 
    background: url(../images/icon_part.png) no-repeat 0 50%; 
}

.sp td.warn span 
{ 
    background: url(../images/icon_warn.png) no-repeat 0 50%; 
}

table.browser {
	width: 100%; 
	border-spacing: 0;
}

.browser td {
	padding:2px; 
	text-align: center;
}

.br td 
{ 
    background-color: #FAF3D2; 
}

.ie, 
.cr, 
.sa, 
.op, 
.fx, 
.an, 
.ip, 
.sp span 
{ 
    min-height: 16px; padding-left: 20px; 
}

.ie, 
.br .ie  
{ 
    background: url(../images/browser_ie.png) no-repeat; 
}

.cr , 
.br .cr 
{ 
    background: url(../images/browser_cr.png) no-repeat; 
}

.sa, 
.br .sa  
{ 
    background: url(../images/browser_sa.png) no-repeat; 
}

.op, 
.br .op  
{ 
    background: url(../images/browser_op.png) no-repeat; 
}

.fx, 
.br  .fx 
{ 
    background: url(../images/browser_fx.png) no-repeat; 
}

.an, 
.br  .an 
{ 
    background: url(../images/browser_android.png) no-repeat; 
}

.ip, 
.br  .ip 
{ 
    background: url(../images/browser_iphone.png) no-repeat; 
}

.sp span 
{ 
    padding-left: 16px; 
}

.sp .warn  span 
{ 
    padding-left: 18px; 
}

.browser th 
{ 
    padding: 3px; 
}

td.browser 
{ 
    background: #FAF3D2; 
}

/* Table stamdart */
.standart 
{
	width: 280px;
	border-collapse: collapse;
	font-size: 0.9em;
	margin: 13px 0 0 30px;
}

.standart td 
{
 	border: 1px solid #333;
	padding: 2px;
	text-align: center;
	background-image: none !important;
}

.standart td.h, 
.standart td.xh 
{
	text-align: left; 	
	background: #FAF3D2;
}

.standart td.xh 
{
    border-left: 3px double #333;
}

/* Example */
.fig 
{
	margin: 1.5em 0 0 !important;
	text-align: center;
}

.figsign 
{
	font: italic 1em Georgia, Times, serif;
	color: #666;
	text-align: center;	
	margin: 0 0 1.3em !important;
}

.note 
{
    background: url(../img/note.png) no-repeat 0 3px;
    padding: 0 10px 10px 50px;
    min-height: 32px;
}

.exampleTitle, 
.exampleTitle2 
{
    color: #685c53;
	font-weight: bold;
	margin: 10px 280px 0 30px;
    padding: 5px 0 0;
    border-bottom: none;
}

.exampleTitle2 
{
    margin-right: 0;
    margin-bottom: 5px;
}

.exampleTitle 
{
    margin-bottom: -17px;
	font-size: 1.1em;
	color: #666;
	margin-left: 0 !important;
	margin-bottom: -15px !important;
}

.exampleTitle + p 
{
    margin-top: 1em;
}

.exampleTitle2 
{
    margin-right: 0;
}

.example, 
pre, 
.example2 
{
	margin: 0 0 1em 30px;
	border: none;
	background: #f8f7f2;
}

.example, 
pre code, 
.example2 
{
	font: 14px "Courier New", Courier, mono;
	padding: 7px;
	tab-size: 4;
}

.example, .example2 
{
	margin-bottom: 1em;
}

.example2 
{ 
    background: none; 
}

h3 + .example2, 
h4+.example2 
{
	margin-top: 1em;
}

.mark 
{
	background: #ffe;
	border: 1px dotted #333;
	padding: 2px;
}

pre code 
{
	display: block;
	overflow: auto;
	white-space: pre;
}

pre code 
{
    border-right: 25px solid #e6e3da;
}

pre code.no-buttons 
{
    border-right: none;
	margin-top: 15px;
}

.example-view 
{
    float: right;
    position: relative;
    margin: 0;
    top: -65px;
    right: 4px; 
    cursor: pointer;
}

.example-win 
{
    padding-bottom: 7px;
}

.example-support 
{
	margin: 0 !important;
	font-size: 9pt;
	padding: 3px 0;
	text-align: right;
}

.example-support span 
{
	border-left: 1px solid #666;
	padding: 4px;
}

.example-support .html, 
.example-support .css 
{
	border-right: 1px solid #666;
	margin-right: 3px;
}

.tag 
{
	font-family: "Courier New", Courier, mono; 
	color: #069;
	font-size: 1em;
	font-weight: bold;
}

.value, 
.function .params 
{
	color: #39892f;
	font-weight: normal;
}

.var 
{
    font: 1em "Courier New", Courier, mono;
}

.menuitem 
{
    background: #f8f6e3;
    padding: 0 2px;
}

.button 
{
    background: #ddd;
    border: 2px outset #ddd;
    padding: 0 3px;
    color: #333;
    font-size: 0.92em;
}

.attribute
{
	color: #b61039;
	font-weight: normal;
	border: none;
	background: none;
	white-space: nowrap;
}

pre .attribute
{
	white-space: normal;
}

.term 
{
	border-bottom: 1px dotted red;
	font-style: italic;
	font-size: 1.1em;
	font-family: Times, serif;	
}

table.term2 
{
    width: 100%;
}

.term2 td 
{
    vertical-align: top; 
    border-bottom: 1px dashed #333;
    padding: 10px 3px;
}

.term2 tr:last-child td 
{
    border: none;
}

.term2 tr:hover 
{
    background: #f0f0f0;
}

pre .doctype 
{
    color: #069;
}

.regexp 
{
    color: #b61039;
}

.keyword 
{
	color: #9c223f;
}

.css .keyword 
{
    color: #333;
    font-weight: bold;
}

.tag .keyword 
{
    color: #069;
}

.comment 
{
    color: #999;
}

.function 
{
    font-weight: bold;
}

ins 
{
	color: red;
}

del 
{
	color: blue;
}	

.number 
{
    color: #D6562B;
}

.hexcolor  
{
    color: #BC3EC6;
}

/* dl - dt - dd */
dl.param, 
dl.param2, 
.ref dl 
{
	margin: 0.5em 0 0.5em 30px;
}

dl.param dt, 
dl.param2 dt 
{
	color: #b61039;
	float: left; 
}

dl.param dd, 
dl.param2 dd 
{
	margin: 15px 0 0.5em 6.5em;
}

dl.param2 dt, .ref dt { color: #39892f; }

/* Metki */

.metki,
.field-name-taxonomy-vocabulary-10 .field-item 
{
    margin: 10px 0 10px;
    font-size: 0.92em;
}

.metki a,
.field-name-taxonomy-vocabulary-10 .field-item 
{ 
	display: inline-block;
    background: url(../images/tag.png) no-repeat 0 2px;
    padding-left: 24px;
	margin-right: 20px;
}

.field-name-taxonomy-vocabulary-10 
{
	margin-left: 30px;
}

.field-name-taxonomy-vocabulary-5 .field-item 
{
	margin-right: 10px;
}

/* ===================== footer =================== */
footer 
{
    padding: 0 15px 10px;
    border-top: 2px solid #ccc;
    font-size: 0.9em;
    clear: both;
	display: block;
	background: #eee;
	background: -moz-linear-gradient(top, #eee 0%, #fff 100%);
	background: -webkit-linear-gradient(top, #eee 0%, #fff 100%);
	background: -o-linear-gradient(top, #eee 0%, #fff 100%);
	background: -ms-linear-gradient(top, #eee 0%, #fff 100%);
	background: linear-gradient(to bottom, #eee 0%, #fff 100%);
}

footer section 
{
    width: 190px;
    float: left;
	margin: 15px 0;
}

footer h4 
{
    font-size: 1em;
    margin: 0;
}

footer section p 
{
    margin: 3px 0 4px 15px;
}

footer a, footer a:visited 
{ 
    color: #666; 
}

footer a:hover 
{ 
    color: #BD2026; 
}

.copyright 
{
	clear: left;
}